{# Renders WTForms fields and errors #}
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{# Renders Navigation Links and sets the active class (or not) #}
{% macro nav_link(destination, text, glyph) %}
  {% if destination != '' %}
      <li class="text-right {{'active' if request.endpoint != none and request.endpoint.endswith(destination)}}"><a href="{{ url_for(destination)}}">{{text}} <span class="glyphicon glyphicon-{{glyph|default('asterisk')}}"></span></a></li>
  {% else %}
      <li class="text-right"><a href="">TODO: {{text}} <span class="glyphicon glyphicon-{{glyph|default('asterisk')}}"></span></a></li>
  {% endif %}
{% endmacro %}