<!DOCTYPE html>
<!-- This is the foundation html that is then extended using FLASK-->
<!-- Special thanks to CS50 from Harvard for their code that I am using as a example-->
<html land="en">
    
    <head>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- JQuery http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <!-- Bootstrap CSS & Javascript http://getbootstrap.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- Custom CSS & Javascript -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='layout.js') }}"></script>
        {% block script%}{% endblock %}
        
        <title>NOA: {% block title %}{% endblock %}</title>
    </head>
    
    <body>
        <div class="container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a class="navbar-brand" href="">NOA Team Task Manager</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            {% if current_user.is_authenticated %}
                            <li class="text-right"><a href="">Home <span class="glyphicon glyphicon-home"></span></a></li>
                            <li class="text-right"><a href="">Tasks <span class="glyphicon glyphicon-inbox"></span></a></li>
                            <li class="text-right"><a href="">Projects <span class="glyphicon glyphicon-briefcase"></span></a></li>
                            <li class="text-right"><a href="">Reports <span class="glyphicon glyphicon-list-alt"></span></a></li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account <span class="glyphicon glyphicon-menu-hamburger"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="text-right"><a href="">Privacy Policy <span class="glyphicon glyphicon-sunglasses"></span></a></li>
                                    <li class="text-right"><a href="">Terms of Service <span class="glyphicon glyphicon-book"></span></a></li>
                                    <li class="nav-divider"></li>
                                    {% if not current_user.is_authenticated %}
                                    <li class="text-right"><a href="{{ url_for('auth.signup') }}">Register <span class="glyphicon glyphicon-user"></span></a></li>
                                    <li class="text-right"><a href="{{ url_for('auth.signin') }}">Log-In <span class="glyphicon glyphicon-log-in"></span></a></li>
                                    {% else %}
                                    <li class="text-right"><a href="">Settings <span class="glyphicon glyphicon-list-alt"></span></a></li>
                                    <li class="text-right"><a href="{{ url_for('auth.signout') }}">Sign-Out <span class="glyphicon glyphicon-log-out"></span></a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <header>
            {% if get_flashed_messages(category_filter=["error"]) %}
                <div class="alert alert-danger" role="alert">
                    <ul class=flashes>
                        {% for error in get_flashed_messages(category_filter=["error"]) %}
                          <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if get_flashed_messages(category_filter=["warning"]) %}
                <div class="alert-warning" role="alert">
                    <ul class=flashes>
                        {% for warning in get_flashed_messages(category_filter=["warning"]) %}
                          <li>{{ warning }}</li>
                        {% endfor %}
                    </ul>
                </div>s
            {% endif %}
            {% if get_flashed_messages(category_filter=["info"]) %}
                <div class="alert-info" role="alert">
                    <ul class=flashes>
                        {% for info in get_flashed_messages(category_filter=["info"]) %}
                          <li>{{ info }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul class=flashes>
                      {% for field, error in form.errors.items() %}
                        {% for e in error %}
                          <li>{{field}}: {{e}}</li>
                        {% endfor %}
                      {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </header>
            
            <main>
                {% macro render_field(field) %}
                  <dt>{{ field.label }}
                  <dd>{{ field(**kwargs)|safe }}
                  {% if field.errors %}
                    <ul class=errors>
                    {% for error in field.errors %}
                      <li><kbd>{{ error }}</kbd></li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                  </dd>
                {% endmacro %}
                
                {% block main %}{% endblock %}
            </main>

        </div>
    </body>

</html>